@font-face {
    font-family: Mont;
    src: url(Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: Mont;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
  
.container{
    width: 90%;
    max-width: 1150px;
    margin: auto;
}
  
.header{
    background-color: rgba(250, 250, 250, 1);
    padding: 16px;
    padding-bottom: 16px;
}
  
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo{
    font-size: 24px;
    font-weight: 700;
    color: rgba(37, 43, 66, 1);
}
  
.nav a{
    margin: 0 21px;
    text-decoration: none;
    color: rgba(115, 115, 115, 1);
    font-size: 14px;
    font-weight: 700;
}
  
.btn{
    background-color: rgba(255, 104, 91, 1);
    color: rgba(250, 250, 250, 1);
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}
  
.btn1{
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgba(255, 104, 91, 1);
    color: rgba(255, 104, 91, 1);
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.btn2{
    background-color: rgba(250, 250, 250, 1);
    color: rgba(255, 104, 91, 1);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.btn3{
    background-color: rgba(255, 104, 91, 1);
    color: rgba(250, 250, 250, 1);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}
  
.hero{
    background-color: rgba(250, 250, 250, 1);
    max-width: 100%;
    max-height: 1037px;
}
  
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.hero-text{
    flex: 1 1 30%;
}
  
.hero-text h1{
    font-size: 58px;
    margin: 0;
    color: rgba(37, 43, 66, 1);
    font-weight: 700;
}
  
.maintext{
    font-size: 20px;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgba(115, 115, 115, 1);
    font-weight: 400;
}

.joinus{
    font-size: 16px;
    color: rgba(255, 104, 91, 1);
    margin: 0;
    margin-bottom: 35px;
    font-weight: 700;
}
  
.hero-image{
    flex: 1 1 5%;
    text-align: center;
}
  
.hero-image img{
    height: 757px;
    width: 520.px;
}

.services{
    display: grid;
}
  
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
  
.card{
    padding: 35px 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
  
.card-icon img{
    width: 72px;
    height: 72px;
}

.line{
    background-color: rgba(255, 104, 91, 1);
    width: 50px;
    height: 2px;
}
  
.card h3{
    font-size: 16px;
    color: rgba(37, 43, 66, 1);
    font-weight: 700;
}
  
.card p{
    color: rgba(115, 115, 115, 1);
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
}
 
.statistics{
    margin-top: 80px;
}

.stats-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}
  
.stat-item h2{
    font-size: 58px;
    color: rgba(255, 104, 91, 1);
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
}
  
.stat-item p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgba(37, 43, 66, 1);
}
  
.experts{
    background-color: #fff;
}
  
.experts-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 160px;
}
  
.experts-text{
    flex: 1;
    min-width: 507px;
    min-height: 246px;
}
  
.red-line{
    display: block;
    width: 94px;
    height: 7px;
    background-color: rgba(255, 104, 91, 1);
}
  
.experts-text h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-top: 35px;
    color: rgba(37, 43, 66, 1);
}
  
.experts-text p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(115, 115, 115, 1);
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 400px;
}
  
.learn-more{
    color: rgba(255, 104, 91, 1);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.experts-image{
    flex: 1;
    text-align: center;
    min-width: 280px;
}
  
.experts-image img{
    max-width: 100%;
    height: auto;
}
  
@media (max-width: 768px) {
    .experts-wrapper {
      flex-direction: column;
      text-align: center;
    }
  
    .experts-text,
    .experts-image {
      text-align: center;
    }
}

@media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      margin: 15px 0;
    }
  
    .nav a {
      display: inline-block;
      margin: 10px 10px 0 0;
    }
  
    .hero-content {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-text h1 {
      font-size: 36px;
    }
  
    .hero-text p {
      font-size: 16px;
    }
}

@media (max-width: 992px) {
    .card {
      flex: 1 1 45%;
    }
  }
  
@media (max-width: 600px) {
    .card {
      flex: 1 1 100%;
    }
  
    .services-header h2 {
      font-size: 28px;
    }
  
    .buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .btn {
      width: 100%;
      text-align: center;
    }
}